.todo-item {
  padding: 10px 40px;
  padding-left: 25px;
  color: white;
  user-select: none;
  background-color: #5722a4;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-trash {
}

.title {
  font-size: 17px;
  flex: 1;
}
.actions {
  display: flex;
}
.icon-container:first-child {
  margin-right: 16px;
}

.icon-container {
  cursor: pointer;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.icon-container:hover {
  background-color: #401978;
}

.mdc-checkbox__background {
  border-color: white !important;
}
