<div class="todo-item">
  <div class="title">
    <mat-checkbox
      [checked]="todo.done"
      style="width: 100%"
      color="primary"
      (change)="setDone($event.checked)"
      title="Do Check"
    >
      <div class="name">
        {{ num }}. {{ todo.name }}
        <div class="line" [ngClass]="{ done: todo.done }"></div>
      </div>
    </mat-checkbox>
  </div>

  <div class="actions">
    <div *ngIf="isDeletion" class="buttons">
      <div class="button-yes" title="Click to delete">Yes</div>
      <div class="button-no" title="Click to cancel" (click)="noDeletion()">
        No
      </div>
    </div>
    <div *ngIf="!isDeletion" class="action-group">
      <div class="icon-container" title="Change">
        <i class="fas fa-pen"></i>
      </div>
      <div class="icon-container" title="Delete" (click)="onDelete()">
        <i class="fas fa-trash"></i>
      </div>
    </div>
  </div>
</div>
